*,
*::before,
*::after
    box-sizing: border-box
    outline: none
body
    font-family: Montserrat, sans-serif
    font-size: 14px
.container
    max-width: 1700px
    padding: 0 15px
    margin: auto
input
    width: 100%
img
    max-width: 100%
    display: block
button
    cursor: pointer 
a
    text-decoration: none
    display: block   